* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #ededed;
}

header,
nav {
    height: 4.5rem;
}

header {
    background-color: white;
    color: deepskyblue;
}

nav {
    background-color: deepskyblue;
    color: white;
}

.cardAwesome {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.25rem;
    background-color: rgb(250, 250, 250);
    border-radius: 0.75rem;
    padding: 1.5rem;
    margin-bottom: 3rem;
    width: calc((100% / 5) - 3rem);
    box-shadow: 0.15rem 0.15rem 0.25rem rgb(126, 125, 125);
    & i {
        font-size: 2.5rem;
    };
    & h6 {
        text-transform: uppercase;
    };
}

.vegetable {
    color: green;
}

.animal {
    color: orange;
}

.user {
    color: blue;
}